@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased transition-colors duration-200 bg-[#f9fafb] dark:bg-[#1f1f1f] text-slate-900 dark:text-[#f1f1f1];
    /* Разрешаем нормальный скролл */
    overflow-x: hidden;
    min-height: 100vh;
  }
}

html {
  /* Важно для работы scroll-behavior: smooth и правильного расчета координат */
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

/* Удаляем блокировки с html, body, которые мешали скроллу */
#root {
  min-height: 100vh;
}

/* Скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-200 dark:bg-[#2a2a2a] rounded-full;
}

/* Убираем синее выделение тапов */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Фикс для предотвращения системного Pull-to-refresh, чтобы работал наш */
.pull-to-refresh-container {
  overscroll-behavior-y: contain;
}